<div lang="en"><p>sadfadf</p>
<p>asdfasf</p>
<p>23411234</p>
<p>adf</p>
<p>adfs</p>
<p>asdfasf</p>
<p>asdfasdf</p>
<p>asdf</p>
<p>asdf</p>
<p>asdf</p>
<p>4767</p>
<p>nbn </p>
<p>&lt;script&gt;</p>
<p>&lt;script&gt;</p>
<p>&lt;script&gt;</p>
<p>2134</p>
<p>456</p>
<p>456</p>
<p>456</p>
<p>456</p>
<p>58</p>
<p>hi</p>
<p>hi</p>
<p>hi</p>
<p>hi</p>
<p>  &lt;input type=&quot;hidden&quot; name=&quot;csrf_token&quot; value=&quot;{{ csrf_token() }}&quot; /&gt;</p>
<p>  &lt;input type=&quot;hidden&quot; name=&quot;csrf_token&quot; value=&quot;{{ csrf_token() }}&quot; /&gt;</p>
<p>Test</p>
<p>&amp;lt;script&amp;gt;alert(1)&amp;lt;/script&amp;gt;</p>
<p>&amp;lt;script&amp;gt;alert(1)&amp;lt;/script&amp;gt;</p>
<p>&amp;lt;script&amp;gt;alert(&amp;#x27;XSS&amp;#x27;);&amp;lt;/script&amp;gt;</p>
<p>&amp;lt;script&amp;gt;alert(1)&amp;lt;/script&amp;gt;</p>
</div>