{% extends 'layout.html' %} {% block content %}
<section class="hero">

    <div class="hero-left">
        <p class="hero-tag">
            REAL WORLD MATHEMATICS
        </p>

        <h1>
            Maths is everywhere.
            Learn it visually.
        </h1>

        <p class="hero-description">
            Explore how mathematics powers
            finance, AI, engineering,
            sports analytics, and everyday life.
        </p>

        <div class="hero-buttons">
            <a href="/index.html" class="btn">
                Get Started
            </a>
        </div>
    </div>

    <div class="hero-right">

        <div class="math-card">
            y = sin(x)
        </div>

        <div class="math-card">
            E = mc²
        </div>

        <div class="math-card">
            ∫ x² dx
        </div>

    </div>

</section>
{% endblock %}